.suggest-index {
	background: #fff;
	padding: 3px;
	border-radius: 2px;
}
.suggest-index a:not(.image-reference) {
	border-bottom: none;
	text-decoration: none;
}
.suggest-index a:not(.image-reference):hover {
	font-weight: bold;
	border-bottom: none;
	text-decoration: none;
}
@media (max-width: 500px) {
	body {
		margin-left: 15px;
	}
	.suggest-index {
		position: fixed;
		top: 20%;
		left: 2px;
	}
}
